.dark #refresh circle {
  stroke: #fafafa;
}
.light #refresh circle {
  stroke: #333;
}

.dark .tooltip-inner {
  color: #fafafa;
  background-color: #333;
}
.light .tooltip-inner {
  background-color: #fafafa;
  color: #333;
}

.light #titel:invalid, .light #stand:invalid {
  background: #FDD;
}
.dark #titel:invalid, .dark #stand:invalid {
  background: #944;
}

.light input[readonly], .light .input[readonly] {
  background: #DDD;
}
.dark input[readonly], .dark .input[readonly] {
  background: #666;
}

.light #titel:valid, .light #stand:valid {
  background: #DFD;
}
.dark #titel:valid, .dark #stand:valid {
  background: #494;
}

.dark #search {
  background: #333;
}
.light #search {
  background: #fafafa;
}

.dark, .dark .dialog, .dark #dialog, .dark nav, .dark .nav-link, .dark .nav-item {
  color: #fafafa;
  background-color: #333;
}
.light, .light .dialog, .light #dialog, .light nav, .light .nav-link, .light .nav-item {
  background-color: #fafafa;
  color: #333;
}

.dark .btn-link {
  color: #ccc;
}
.dark .btn-link:disabled {
  color: #ccc;
}
.dark .btn-link:hover {
  background-color: #555555;
}
