.light {
  $bg: #fafafa;
  $fg: #333;

  .shadow {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(255,255,255,1));
    color: #000;
    font-weight: bold;
  }

  #refresh_bg {
    stroke: #bbb;
  }
  #refresh_fg {
    stroke: $fg;
  }

  #title:invalid, #status:invalid, .error  {
    background: #FDD;
  }

  .light, .dialog, #dialog, nav, .nav-link, .nav-item, .tooltip-inner, #search {
    background-color: $bg;
    color: $fg;
  }

  #title:valid, #status:valid {
    background: #DFD;
  }

  input[readonly], .input[readonly] {
    background: #DDD;
  }
  input {
    background-color: #ddd
  }
  a, .error {
    color: #622;
  }
}

.light {
  background-color: #fafafa;
  color: #333;
}

.dark {
  color: #fafafa;
  background-color: #333;
}

.error {
  margin-bottom: 0;
}

.dark {
  $bg: #333;
  $fg: #fafafa;

  #refresh_bg {
    stroke: #666;
  }
  #refresh_fg {
    stroke: #ddd;
  }

  #title:invalid, #status:invalid, .error {
    background: #944;
  }

  input[readonly], .input[readonly] {
    background: #666;
  }

  #title:valid, #status:valid {
    background: #494;
  }

  .dark, .dialog, #dialog, nav, .nav-link, .nav-item, .tooltip-inner, #search {
    color: $fg;
    background-color: $bg;
  }

  .btn-link {
    color: #ccc;
  }

  .btn-link:disabled {
    color: #ccc;
  }

  .btn-link:hover {
    background-color: #555555;
  }

  .shadow {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
    color: $fg;
  }

  #upload_status input:hover {
    background-color: #555555;
  }

  input {
    background-color: $bg;
  }
  a {
    color: #e66;
  }

}